@layer base {
  @font-face {
    font-family: 'Ubuntu';
    src: url('../assets/fonts/Ubuntu-Bold.ttf') format('.ttf');
    font-weight: 400;
    font-display: swap;
    font-style: normal
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply bg-slate-300; /* Assuming @apply is used with a preprocessor like SCSS */
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
.input-box,
.input,
.error {
  font-family: 'ubuntu';
}

/* Default padding for all screen sizes */
:root {
  padding: 0; /* Reset padding for all sizes */
}

/* Apply padding only for screens with a minimum width of 768px (adjust as needed for desktop) */
@media screen and (min-width: 500px) {
  :root {
    padding: 30px; /* Apply padding on desktop */
  }
}

.input-box {
  @apply flex flex-col gap-1 mt-2 w-full;
}
.input {
  @apply p-2 rounded-md border-2;
}
.error {
  @apply text-red-500 font-medium text-sm mt-[-5px];
}
